/* BODY */
body {
    margin: 0;
    background-image: url('Images/background.gif');
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

/* HEADER */
header {
    width: 760px;
    height: 150px;
    background-color: #CCCCCC;
    text-align: center;
    padding-top: 10px;
    border-bottom: dashed medium navy;
    margin: auto;
}

/* SECTION */
section {
    width: 760px;
    background-image: url('Images/inner_background.gif');
    background-repeat: repeat-y;
    overflow: hidden;
    border-right: dashed medium navy;
    border-left: dashed medium navy;
    margin: auto;
}

/* NAVIGATION */
nav {
    float: left;
    width: 110px;
    padding-left: 10px;
}

/* ARTICLE */
article {
    float: left;
    width: 600px;
    padding: 5px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    width: 760px;
    height: 70px;
    border: dashed medium navy;
    background-color: #CCCCCC;
    margin: auto;
}

/* FLOATING LOGO */
.logoleft {
    float: left;
    padding-top: 30px;
    padding-left: 15px;
}

/* NAV LINKS */
nav a {
    border: 2px inset #CCCCCC;
    background-color: maroon;
    line-height: 250%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
}

/* HOVER STATE */
nav a:hover {
    color: yellow;
    border: 2px outset #CCCCCC;
}
